.popup__input {
  inline-size: 100%;
  block-size: 47px;
  border: 0;
  border-block-end: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  padding: 10px 0 0;
  max-block-size: 28px;
}

.popup__input:last-of-type {
  margin-block-end: 0;
}

.popup__input:focus {
  outline: none;
}

.popup__input:focus-visible {
  outline: 3px solid #470fe19d;
  border-radius: 1px;
  outline-offset: 1px;
}

.popup__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.popup__input-error {
  display: block;
  color: #f00;
  font-size: 12px;
  margin-block-start: 5px;
  min-height: 28px;
}

.popup__input-error:last-of-type {
  margin-bottom: 0;
}

.popup__error_visible {
  display: block;
}

@media screen and (max-width: 568px) {
  .popup__title {
    font-size: 12px;
    line-height: 15px;
  }
}
